<table>
  <thead>
    <tr>
      <th colspan="2"><h1> Cattributes </h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2"> <%= @cat.name %></th>
    </tr>
    <tr>
      <th colspan="2"> <%= @cat.color %></th>
    </tr>
    <tr>
      <th colspan="2"> <%= @cat.birth_date %></th>
    </tr>
    <tr>
      <th colspan="2"> <%= @cat.sex %></th>
    </tr>
    <tr>
      <th colspan="2"> <%= @cat.description %></th>
    </tr>
  </tbody>
</table>
